.input{
    width: 85%;
    height: 3.8rem;
    font-size: 2.3rem;
    padding: .7rem .5rem;
}
.input::placeholder{
    font-weight: 400;
    color: var(--gray);
}

@media screen and (min-width:1044px){
    .input{
        height: 4rem;
    }
}