.input{
    width: 100%;
    height:100%;
    font-size: 2.3rem;
}
.input::placeholder{
    font-weight: 400;
    color: var(--gray);
}
.errorMessage{
    font-size:1.8rem;
    height: 3.8rem;
    padding: .7rem .5rem;
}
.container{
    width:85%;    
    height: 3.8rem;
    display:flex;
    flex-direction:column;
    justify-content:center;
           
}
@media screen and (min-width:1044px){
    .input{
        height: 4rem;
    }
}