
.dashboardIcons {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.dashboardIcon {
    width: 4rem;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.itensCards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10rem;

}

main {
    width: 100%;
    gap: 7rem 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 3rem;
}

h1 {
    font-weight: 400;
    font-size: 4rem;
}

.desktopIcon {
    width: 2.5rem;
}


.desktopMenu>a {
    font-size: 2rem;
    transition: all .1s ease, transform .3s ease-in-out;
}

.desktopMenu>a:hover {
    color: var(--black);
    transform: scale(1.1);
}


.categories {
    display: flex;
    justify-content: center;
    gap: 1rem;
}


.category {
    display: flex;
    font-size: 3rem;
    color: var(--black);
    transition: .2s;
    cursor: pointer;
}

.category:hover {
    transform: scale(1.1);
    color: var(--gray);
}


.itemData {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7rem;
}

.itens {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    flex: 1;
}

.cardGroup {
    display: flex;
    flex-direction: column;
    gap: 3rem !important;
}


.filter:hover {
    color: var(--gray);
    transform: scale(1.1);
}

.desktopDashboardIcon {
    display: none;
}

@media screen and (min-width:768px) {
    .itens {
        display: grid;
        justify-content: flex-start;
        align-content: center;
        grid-template-columns: repeat(2, 1fr);
    }

    .mobileDashboardIcons {
        display: none;
    }

    .desktopDashboardIcon {
        display: block;
    }

    .itemData {
        flex-direction: row;

    }


}

@media screen and (min-width:1024px) {
    .itens {
        grid-template-columns: repeat(3, 1fr);
    }

    .cardGroup {
        display: flex;
        gap: 5rem;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}


@media screen and (min-width:1024px) {
    .desktopIcon {
        width: 3rem;
    }
}


@media screen and (max-width:425px) {
    .filters {
        flex-direction: column;
    }
}