header {
    padding: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
}

.logo {
    width: 6rem;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.dashboardIcons{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.dashboardIcon {
    width: 4rem;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.itens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;

}

main {
    width: 100%;
    gap: 7rem 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 3rem;
}

h1 {
    font-weight: 400;
    font-size: 4rem;
}

.desktopIcon {
    width: 2.5rem;
}

.desktopMenu {
    display: flex;
    gap: 2rem;
}

.desktopMenu>a {
    font-size: 2rem;
    transition: all .1s ease, transform .3s ease-in-out;
}

.desktopMenu>a:hover {
    color: var(--black);
    transform: scale(1.1);
}

.filters {
    width: 100%;
    height: 100%;
    display: flex;
    flex: 0;
    justify-content: space-between;
    align-items: center;
}

.categories {
    display: flex;
    gap: 1rem;
}


.filter {
    display: flex;
    font-size: 3rem;
    color: var(--black);
    transition: .2s;
    cursor: pointer;

}


.data {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7rem;
}

.cards{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    flex: 1;
}


.filter:hover {
    color: var(--gray);
    transform: scale(1.1);
}

.desktopDashboardIcon{
    display: none;
}

@media screen and (max-width:767px) {
    .desktopMenu {
        display: none;
    }
}


@media screen and (min-width:768px) {
    .itens {
        display: grid;
        justify-content: flex-start;
        align-content: center;
        grid-template-columns: repeat(2, 1fr);
    }
    .mobileDashboardIcons{
        display: none;
    }
    .desktopDashboardIcon{
        display: block;
    }
    
    .data{
        flex-direction: row;
        
    }
  
   
}

@media screen and (min-width:1024px) {
    .itens {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media screen and (min-width:1440px) {
    .logo {
        width: 9rem;
    }
    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
      
    }
    .container{
        height: 100vh;
    }
    .itens {
        grid-template-columns: repeat(4, 1fr);
    }

    .desktopMenu>a {
        font-size: 3rem;
    }
}



@media screen and (min-width:1920px) {
    .logo {
        width: 9rem;
    }

    .itens {
        grid-template-columns: repeat(5, 1fr);
    }

    .desktopMenu>a {
        font-size: 3rem;
    }
}


@media screen and (max-width:1920px) {
    .logo {
        width: 9rem;
    }

}

@media screen and (min-width:1024px) {
    .desktopIcon {
        width: 3rem;
    }
}

@media screen and (min-width:768px) {
    .itens {
        flex-direction: row;
        flex-wrap: wrap;
    }

    header {
        justify-content: space-around;
    }

    .mobileMenu {
        display: none;
    }
}


@media screen and (max-width:425px) {
  .filters{
    flex-direction: column;
  }
}