.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    gap: 3rem;
}

.logo {
    width: 13rem;
}

.form {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.loginIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .logo {
        width: 20rem;
    }

}