.container{
    background-color: white;
    display: flex;
    width: 80%;
    flex-direction: column;
    position: fixed;
    padding: 4rem 3rem;
    height: 100%;
    gap: 2rem;
    transition: .5s;
    z-index: 1;
}
.visible{
    top: 0;
    right: 0;
}
.invisible{
    top: 0;
    right: -390px;
}
.icon{
    width: 2.3rem;
   
}
.item > h2{
    display: none;
}

.itens{
    display: flex;
    flex-direction: column;
    font-size: 3rem;
}
.valor{
    display: flex;
    gap: .5rem;
    font-size: 3rem;

}
@media screen and (min-width:768px) {
    .container{
        width: 30%;
    }
}
